@charset "utf-8";
body {
	background: url(images/body-bg.jpg) repeat;
	font-family: Microsoft Yahei;
	color: #666;
}
a:focus {
	outline: 0;
}

/* 载入动画 */
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #333;
	z-index: 99999;
}
.loader-text {
	position: absolute;
	left: 49.5%;
	top: 50%;
	margin-left: -25px;
	margin-top: 25px;
	color: #fff
}
#loaderInner {
	display: block;
	margin: 0 auto;
	width: 3.5rem;
	height: 3.5rem;
	top: 50%;
	margin-top: -30px;
	position: relative;
	border: 6px solid #e95a44;
	animation: loader 2.3s infinite ease;
	-webkit-animation: loader 2.3s infinite ease;
}
.loader-inner-animation {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #e95a44;
	animation: loader-inner 2.3s infinite ease-in;
	-webkit-animation: loader-inner 2.3s infinite ease-in;
}
 @keyframes loader {
 0% {
 transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
}
 25% {
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
}
 50% {
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
}
 75% {
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
}
 100% {
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
}
}
 @-webkit-keyframes loader {
 0% {
 transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
}
 25% {
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
}
 50% {
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
}
 75% {
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
}
 100% {
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
}
}
 @keyframes loader-inner {
 0% {
 height: 0%;
}
 25% {
 height: 0%;
}
 50% {
 height: 100%;
}
 75% {
 height: 100%;
}
 100% {
 height: 0%;
}
}
 @-webkit-keyframes loader-inner {
 0% {
 height: 0%;
}
 25% {
 height: 0%;
}
 50% {
 height: 100%;
}
 75% {
 height: 100%;
}
 100% {
 height: 0%;
}
}
[class*="-area"], .fix {
overflow: hidden;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.dtable {
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 3
}
.dtable-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.spad {
	padding: 70px 0;
}
.section-title {
	margin-bottom: 50px;
}
.section-title h2 {
	margin-bottom: 0;
	padding-bottom: 10px;
	position: relative;
	text-transform: uppercase;
	font-weight: 400;
}
.section-title h2:after {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #ffc107;
}
.site-btn {
	display: inline-block;
	padding: 7px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.09em;
	border-radius: 2px;
	border: 1px solid;
	border-color: transparent;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.loadmore {
	background: #ffc107;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.loadmore:hover, .loadmore:focus {
	color: #fff;
	background: #333;
}


.portfolio-area {
	overflow: hidden;
	background: #f8f8f8;
}
.grid-item {
	margin-bottom: 30px;
	position: relative;
	float: none;
}
.portfolio-filter {
	margin: 20px 0;
}
.portfolio-filter li {
	display: inline-block;
	padding: 5px 18px;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
}
.portfolio-filter li:hover, .portfolio-filter li.active {
	background: #e95a44;
	color: #fff;
}
.work-item {
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	overflow: hidden;
	display: block;
	position: relative;
}
.work-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	height: 48px;
	bottom: -48px;
	padding: 0 20px;
	background: #e95a44;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.work-inner h3 {
	margin: 0;
	text-transform: uppercase;
	position: absolute;
	bottom: 26px;
	letter-spacing: 0.09em;
	font-size: 13px;
	color: #fff;
}
.work-inner h5 {
	margin: 0;
	position: absolute;
	bottom: 8px;
	background: #e95a44;
	font-size: 12px;
	color: #fff;
}
.work-item:hover .work-inner {
	bottom: 0;
}
.work-item:hover .work-inner h3, .work-item:hover .work-inner h5 {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	color: #fff;
}
.work-popup {
	max-width: 750px;
	background: #fff;
	position: relative!important;
	margin: 30px auto;
	left: 0!important;
}
.work-popup img {
	width: 100%;
	height: 100%;
}
.work-popup-content {
	padding: 25px;
	background: url(images/popup-bg.jpg) repeat;
	border-top: 1px solid #ccc;
}
.work-popup-content h3 {
	font-size: 26px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	color: #000;
}
.work-popup-content p {
	margin: 0 0 3px 0;
	padding: 0 18px;
	height: 26px;
	background: #e95a44;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
}
.mfp-close-btn-in .mfp-close {
	position: absolute;
	background: #fff;
	font-size: 40px;
	width: 50px;
	height: 50px;
	opacity: 1;
	color: #e95a44;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}
.container {
	padding: 0;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.col-sm-3 {
	padding-right: 10px;
	padding-left: 10px;
}
